.card {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    margin-bottom: 1rem;

    .form-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .back-to-dashboard {
        align-self: flex-start;
      }

      .view-products {
        align-self: flex-end;
      }
    }
}