.card {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  margin-bottom: 1rem;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .product-details {
      align-self: flex-start;
    }

    .dashboard-again {
      align-self: flex-end;
    }
  }
}