.header {
  background-color: #030b6b;
  height: 7rem;
  position: fixed; // Make header fixed
  top: 0; // Stick to top
  left: 0; // Align left
  right: 0; // Align right
  z-index: 999; // Ensure header stays above other content
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); // Add shadow for better visibility

  & nav {
    width: 100%;
    max-width: 1000px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > .logo {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      cursor: pointer;
    }
  }
}

.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
  & li a {
    color: #fff;
    &:hover {
      color: var(--color-primary);
      transition: all 0.3s;
    }
  }
  & > * {
    margin-left: 1rem;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 10px;
    
    & nav {
      & > .logo {
        font-size: 2.5rem;
      }
    }
  }
  
  .home-links {
    & > * {
      margin-left: 0.5rem;
    }
    
    button {
      padding: 4px 6px;
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    height: 6rem;
  }
  
  body {
    padding-top: 6rem;
  }
}